body{
    background-image: url(https://images.freeimages.com/images/large-previews/4e1/free-technical-background-design-1635196.jpg);
    background-position: center;
    background-size: cover;    
}

#container{
    
    display:flex;
    flex-direction: column;
    align-items:center;
    
}

.centrado{text-align: center;}

h1{color:whitesmoke;
text-align: center;}

img{width:400px;margin-bottom: 10px;}

#thirdDiv{
    width:500px;height:600px;
    background-color: whitesmoke;
    padding: 50px;
    border: 5px solid slategray;
}

li{list-style: none;}
#spanId{font-size: 18px;margin:50px;}

